<!DOCTYPE html>
<html lang="en">
{% extends 'mavSlice/base.html' %}
{% block content %}

<div>
    <nav class="navbar navbar-expand-sm bg-light navbar-light justify-context-center" id="Deals">
        <ul class="nav navbar-nav mm-auto">
            <li class="nav-title">
                <b>Deals</b>
            </li>
        </ul>
</div>


<div>
    Menu
</div>

<div class="content container">
    <!-- Example row of columns using cards for alignment
             The value of 'col-md-x' for all columns in the row must add up to 12
             This page has 3 columns, each column uses col-md-4, for a total of 12 -->
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h5 class="card-title">$ {{product.price}}</h5>
                    <img class="card-text mb-2" width="100px" height="100px" src={{product.image}} />
                    <p><a class="btn btn-primary" href="{% url 'mavSlice:Cart' %}"
                            onclick="addCartToStorage('Pizza', 500)" role="button">Add to cart
                            &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        {%endfor %}
    </div>
</div>

<script>
    function addCartToStorage(name, price) {
        window.localStorage.setItem("cart", JSON.stringify({
            name,
            price
        }))
    }
</script>

{% endblock %}

</html>